<%# If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise the coach will answer I don't care, get dressed and go to work! %>

<% question = params[:question]%>

<% if question.include?("?") %>
  <h2>"Silly question, get dressed and go to work!"</h2>
<% elsif question == "I am going to work" %>
  <h2>Great!</h2>
<% else %>
  <h2>I don't care, get dressed and go to work!</h2>
<% end %>
